@tailwind base;
@tailwind components;
@tailwind utilities;


/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

body {
  background: linear-gradient(180deg, #0d0d0d 0%, #08615F 100%);



  /* Example colors */
  /* height: 100vh; */
  /* margin: 0; */
  /* padding: 0; */
  /* display: flex; */
  font-size: 18px;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  line-height: 1.4;
}


/* h1 {
  font-size: 3.2em;
  line-height: 1.1;
} */